.landing-grid {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
  grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
  height: 100vh;
  width: 100vw;
}
.landing-grid .landing-image-container {
  background-image: linear-gradient(
      rgba(0, 255, 221, 0.45),
      rgba(0, 17, 255, 0.45)
    ),
    url('https://s3.amazonaws.com/the-drive-staging/message-editor%2F1505928433421-yamaha-e-bikes-urbanrush-01.jpg');
  background-size: cover;
  margin-left: -90px;
  grid-column: 1/6;
  grid-row: 1/4;
  z-index: -1;
  position: relative;
}
.landing-grid #book-button {
  z-index: 2;
  font-size: 1em;
  background-color: #02b3e4;
  min-height: 10vh;
  max-height: 10vh;
  min-width: 70vw;
  grid-column: 1/6;
  grid-row: 3/4;
  margin: auto;
  border-radius: 15px;
  border: none;
  font-size: 2em;
  font-weight: 100;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  box-shadow: 10px 10px 20px 3px rgba(46, 61, 73, 0.5);
  animation-name: book;
  animation-duration: 3s;
  animation-delay: -4s;
}

@keyframes book {
  0% {
    background-color: #02b3e4;
  }
  50% {
    background-color: #8a2be2;
  }
  100% {
    background-color: #02b3e4;
  }
}
.landing-grid .booking-container {
  background-color: white;
  grid-column: 1/6;
  grid-row: 3/6;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
  position: relative;
  z-index: 1;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
  font-family: 'Quicksand', sans-serif;
  color: #02b3e4;
}

.landing-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-column: 1/6;
  grid-row: 4/5;
  position: relative;
  z-index: 5;
}
.landing-info p {
  font-size: 2em;
  font-weight: 300;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2px;
  color: #8a2be2;
  margin: 0%;
}
.landing-info p:nth-child(2) {
  font-size: 1em;
}
.landing-info i {
  font-size: 7em;
  opacity: 0.2;
  font-weight: 100;
  color: #8a2be2;
  position: relative;
  z-index: 5;
  animation-name: bike;
  animation-duration: 5s;
  animation-delay: -2s;
}

@keyframes bike {
  0% {
    margin-left: -2000px;
  }
  100% {
    margin-left: 0px;
  }
}

#calendar-button {
  z-index: 2;
  margin-top: 10%;
  background-color: #02b3e4;
  max-height: 100px;
  max-width: 100px;
  border: none;
  color: white;
  font-size: 2em;
  text-align: center;
  grid-column: 4/6;
  grid-row: 5/6;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  box-shadow: 10px 10px 20px 3px rgba(46, 61, 73, 0.5);
  border-radius: 50%;
  position: relative;
  z-index: 6;
}
